.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}